.hr-dark-blue{
    border-top-color: #34495e;
}
.hr-green{
    border-top-color: #16a085;
}
.hr-orange{
    border-top-color: #f39c12;
}
.hr-blue{
    border-top-color: #2980b9;
}
.hr-red{
    border-top-color: #e74c3c;
}
.hr-purple{
    border-top-color: #8e44ad;
}
.hr-gray{
    border-top-color: #95a5a6;
}
.hr-light-gray{
    border-top-color: #bdc3c7;
}
.hr-dark-gray{
    border-top-color: #7f8c8d;
}
